.header {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 48px;
  margin-bottom: 24px;
  border-radius: 20px;
  background-image: url("../../../public/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  box-shadow: 0 0 16px 4px #cccccc;
}

.header__info {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 auto;
}

.title {
  color: white;
  font-size: 2rem;
  font-weight: 800;
}

.title_accent {
  font-size: 6rem;
  line-height: 4rem;
}

.subtitle {
  color: white;
  font-size: 1rem;
  font-weight: 800;
}
